{% extends 'books/base.html' %}

{% block content %}

</br>
</br>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="col text-center" id="welcome">
                        <h2>Welcome</h2>
                        <p>Sign in for the best experience</p>
                        <button class="btn">Sign in securely</button>
                        <div class="footer">
                            New to Bamazon? <a href="#">Start here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="col" id="deal-day">
                        <h2>{{ author.name }}</h2>
                        <h4>{{ author.age }}</h4>
                        <h5>{{ author.description }}</h5>
                        <div class="footer">
                            Книги:
                            {% for book in author.book_author.all %}
                            <a href="{{ book.get_absolute_url }}"> {{ book.title }}</a>
                            {% endfor %}
                            {% comment %} <a href="#">Shop all deals</a> {% endcomment %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}