{% extends 'books/base.html' %}

{% block content %}

</br>
</br>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-3">
                    <div class="col text-center" id="welcome">
                        <h2>Welcome</h2>
                        <p>Sign in for the best experience</p>
                        <button class="btn">Sign in securely</button>
                        <div class="footer">
                            New to Bamazon? <a href="#">Start here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">

                    <div>
                        <a href="#"><img src="{{ book.poster.url }}" alt="Product 5"></a>
                    </div>

                    <div class="col" id="deal-day">
                        <h2>{{ book.title }}</h2>
                        <h4>Год издания: {{ book.year }}</h4>
                        <h4>Страна: {{ book.country }}</h4>
                        <h5>{{ book.description }}</h5>
                        <div class="footer">
                        Авторы:
                            {% for author in book.author.all %}
                            <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}